<div class="row">
    <div class="col-sm-8">
        <h2>
            <i class="far fa-calendar-alt"></i>
            <%= @event[:date] %>
        </h2>

        <h1><%= @event[:title] %></h1>

        <p><%= @event[:description] %></p>

        <h2>Share your experience </h2>
        
        <!-- Hardcoded Data -->

           <div class="mt-5">
            <a href="/events/<%= @event[:id] %>/rsvps/new" class="btn btn-primary">Provide Review </a>
        </div>
    </div>

   