<center>
<h1> Share reviews of your experience at Israel</h1>
</center>

<center>
<p>
<% for event in @events %>
    <p><a href="/events/<%= event[:id] %>"><%= event[:title] %></a></p>
<% end %>
   <p>
     
       
    </div>
      
    
  <div class="container">
  <div class="card-deck">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="main israel.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Jerusalem</h5>
         </div>
    </div>
    </div>
   

      </div>
    </div>
</p>
</center>
